body{

    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
    color: #f8fafc;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exit-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
   background: linear-gradient(90deg, #00C6FF, #6A00F4, #d821c9);
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
}
.exit-btn:hover{
  box-shadow: 0px 0px 10px 1px rgb(237, 248, 248);
}
h1 {
  font-size: 1.8rem;
  color: #00d9ff; 
}
.container {
  background: rgba(170, 148, 148, 0.363);
  backdrop-filter: blur(12px);
  padding: 25px;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}
.select{
    width: 200px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.input{
    width: 360px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
#inputNumber{
    margin-left: 10PX;
}
#outputNumber{
    margin-left: 70PX;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.div{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.btn-div{
    display: flex;
    justify-content: space-evenly;
    align-items:end;
    margin-top: 10px;
}
.convert-b{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgb(61, 64, 65);
  width: 200px;
  transition: 0.3s;
}
.convert-b:hover{
   box-shadow: 0px 0px 10px 2px rgb(167, 168, 168);
}
.reset-b{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px rgb(61, 64, 65);;
  width: 200px;
  transition: 0.3s;
}
.reset-b:hover{
     box-shadow: 0px 0px 10px 2px rgb(167, 168, 168);
}

@media (max-width: 600px) {
  .container{
     max-width: 300px;
     width: 100%;
  }
  .reset-b{
    margin-right: 10px;
    padding: 8px 18px;
  }
  .convert-b{
    padding: 8px 18px;
  }
  h1 {
  font-size: 1.5rem;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5px 5px;
}
.select{
    padding: 10px 10px;
    margin-left: 10px;
    height: 40px;
    width: 300px;
}
.div{
  margin: 7px;
}
.input{
    width: 300px;
    padding: 10px 10px;
}
#inputNumber{
    margin-left: 10PX;
    height: 20px;
}
#outputNumber{
    margin-left: 10PX;
}

}