 body {
      background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      height: 100vh;
      margin: 0;
    } 
     .exit-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
  color: white;
  font-weight: bold;
  cursor: pointer;
}


    h1 {
      margin-bottom: 10px;
    }

    canvas {
      background: #000;
      border: 3px solid #fff;
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
    }

    #score {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    button {
      margin-top: 15px;
      padding: 8px 16px;
      background: limegreen;
      color: #000;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #32cd32;
    }